{% extends 'base.html.twig' %}

{% block title %}PointCollection index{% endblock %}

{% block body %}
<div class='container p-5 d-flex flex-column'>
    <h1 clasa=''>Create new PointCollection</h1>
    <div class ='d-flex justify-content-start'>
    {{ include('point_collection/_form.html.twig') }}
    </div>
</div>

    <h1>PointCollection index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for point_collection in point_collections %}
            <tr>
                <td>{{ point_collection.id }}</td>
                <td>{{ point_collection.adress }}</td>
                <td>{{ point_collection.postalcode }}</td>
                <td>{{ point_collection.city }}</td>
                <td>{{ point_collection.description }}</td>
                <td>{{ point_collection.createdAt ? point_collection.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_point_collection_show', {'id': point_collection.id}) }}">show</a>
                    <a href="{{ path('app_point_collection_edit', {'id': point_collection.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_point_collection_new') }}">Create new</a>
{% endblock %}
