<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  {% block stylesheets %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

            {{ encore_entry_link_tags('app') }}
    {# {{ encore_entry_link_tags('home') }} #}
  {% endblock %}
</head>
<body class="">


<nav class="bg-primarygreen ">
  <div class="flex flex-row justify-between justify-center">
      <div>
        <img src="{{ asset('assets/image/logo.png')}}" alt="logo agricazone">
      </div>
      
    {% if app.user %}
    <a href="{{ path('app_logout') }}">
   <p>Deconnexion</p> 
    </a>

    <a href="{{path('app_user_show_admin_farmer', {'id': app.user.id})}}">
    <svg width="45" height="50" viewBox="0 0 45 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M24.5422 4.72772L24.6625 5.05526H25.0115H32.3624C34.636 5.05526 36.4856 6.88822 36.4856 9.11051V22.2763H32.8624V9.11051V8.61051H32.3624H27.7392H27.2392V9.11051V15.4434H9.74639V9.11051V8.61051H9.24639H4.6232H4.1232V9.11051V43.2749V43.7749H4.6232H15.6812V47.3302H4.6232C2.34958 47.3302 0.5 45.4972 0.5 43.2749V9.11051C0.5 6.88822 2.34958 5.05526 4.6232 5.05526H11.9741H12.323L12.4434 4.72772C13.345 2.27426 15.7059 0.5 18.4928 0.5C21.2796 0.5 23.6406 2.27426 24.5422 4.72772ZM44.1324 46.2425L43.3154 45.829C43.4962 45.3458 43.5857 44.8275 43.5852 44.2635H43.5853L43.5851 44.254C43.579 43.9451 43.5397 43.6413 43.4685 43.3461L44.3313 43.0336C44.4343 43.4229 44.4914 43.8282 44.5 44.2496C44.5002 44.9776 44.3759 45.6359 44.1324 46.2425ZM39.2561 40.066L39.2517 40.0661C39.2294 40.0663 39.2065 40.0666 39.1831 40.0672L39.065 39.1841C39.1315 39.1815 39.1968 39.1798 39.2585 39.1792C40.5633 39.1798 41.7909 39.652 42.7381 40.4803L42.0699 41.0912C41.2949 40.436 40.3054 40.066 39.2561 40.066ZM39.2561 48.6132C40.0774 48.6132 40.8635 48.3872 41.5417 47.9701L42.108 48.6712C41.2688 49.2072 40.2851 49.5 39.2561 49.5C39.181 49.5 39.1061 49.4984 39.0314 49.4953L39.1553 48.6121C39.1889 48.6128 39.2225 48.6132 39.2561 48.6132ZM25.7297 38.9478C28.6258 38.9478 30.9609 41.2592 30.9609 44.0949C30.9609 46.9305 28.6258 49.2419 25.7297 49.2419C22.8335 49.2419 20.4984 46.9305 20.4984 44.0949C20.4984 41.2592 22.8335 38.9478 25.7297 38.9478ZM35.1444 45.683C35.414 46.487 35.9215 47.1924 36.5944 47.7107L36.1215 48.4774C35.2321 47.8243 34.5723 46.909 34.2442 45.8643L35.1444 45.683ZM34.2528 42.7879C34.5866 41.7453 35.2515 40.8334 36.1445 40.1851L36.6131 40.9542C35.9373 41.4689 35.426 42.1717 35.1519 42.9741L34.2528 42.7879ZM38.8993 25.9717C41.7955 25.9717 44.1306 28.2831 44.1306 31.1187C44.1306 33.9544 41.7955 36.2658 38.8993 36.2658C36.0032 36.2658 33.6681 33.9544 33.6681 31.1187C33.6681 28.2831 36.0032 25.9717 38.8993 25.9717ZM25.7297 25.9717C28.6258 25.9717 30.9609 28.2831 30.9609 31.1187C30.9609 33.9544 28.6258 36.2658 25.7297 36.2658C22.8335 36.2658 20.4984 33.9544 20.4984 31.1187C20.4984 28.2831 22.8335 25.9717 25.7297 25.9717ZM18.4928 4.05526C16.9523 4.05526 15.6812 5.29709 15.6812 6.83288C15.6812 8.36868 16.9523 9.61051 18.4928 9.61051C20.0333 9.61051 21.3044 8.36868 21.3044 6.83288C21.3044 5.29709 20.0333 4.05526 18.4928 4.05526Z" fill="white" stroke="black"/>
</svg>
    </a>
    <a href="{{ path('app_user_show', {'id': app.user.id}) }}">

        <svg width="30" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.24569 36.4025L8.13505 36.6609L8.29822 36.8897C12.0143 42.1006 18.1101 45.5 25 45.5C31.8899 45.5 37.9858 42.1006 41.7018 36.8894L41.865 36.6605L41.7543 36.4022C39.3866 30.8743 33.8963 27 27.5 27H22.5C16.1037 27 10.6134 30.8743 8.24569 36.4025ZM25 0.5C31.4978 0.5 37.7295 3.08124 42.3241 7.67588C46.9188 12.2705 49.5 18.5022 49.5 25C49.5 38.531 38.531 49.5 25 49.5C11.469 49.5 0.5 38.531 0.5 25C0.5 11.469 11.469 0.5 25 0.5ZM25 7C20.5817 7 17 10.5817 17 15C17 19.4183 20.5817 23 25 23C29.4183 23 33 19.4183 33 15C33 10.5817 29.4183 7 25 7Z" fill="white" stroke="black"/>
        </svg>
    </a>
    {% else %}

    <a href="{{ path('app_login') }}">
          conectez-vous

        </a>

   
   
    {% endif %}
  </div>
</nav>

{% block body %}


{% endblock %}


 {% block javascript %}
            {{ encore_entry_script_tags('app') }}
    {# {{ encore_entry_link_tags('home') }} #}

     <script src={{ asset('https://unpkg.com/leaflet/dist/leaflet.js') }}></script>
   <script> src={{ asset('js/app.js') }}</script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  {% endblock %}
  
</body>
</html>